body {
  font-family: 'Lexend', sans-serif;
  background-image: linear-gradient( 108.4deg, rgba(220,194,255,1) 6.9%, rgba(185,223,248,1) 86.5% );
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  margin: 0;
  padding: 20px;
  color: black;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }
  .container {
    padding: 10px;
  }
  h1, h2 {
    font-size: 1.5em;
  }
  table {
    font-size: 0.9em;
  }
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}

.section {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.6);
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.3);
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;

}

.special-notes {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px;
  border-radius: 8px;
}
.gradient-text {
  background: linear-gradient(108.4deg, rgba(175,132,255,1) 6.9%, rgba(105,192,255,1) 86.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.gradient-text {
  background-size: 200% 200%;
  animation: gradientMove 5s ease infinite;
}


